@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.banner_img{
    border-radius: 15px;
    height: 111px;
    object-fit: cover;
    width: 100%;
}

.text{
   position: absolute;
   left: 9.6%;
   right: 32.53%;
   top: 14%;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   color: #FFFFFF;
}
@media screen and (min-width: 890px){

    .banner{
        margin: 0px 100px 0px 100px;
    }
    .banner_img{
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
        width: 100%;
    }
    .text{
        height: 68px;
        width: 50%;
        left: 28%;
        top: 23%;
        font-size: 48px;
        font-weight: 500;
        line-height: 68px;
        letter-spacing: 0em;
        text-align: left;
    }
}