
.error{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.error_code{
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    letter-spacing: 0em;
    color: $color_theme;
    margin-top: 155px;
    margin-bottom: 0px;
}
.packshot{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: $color_theme;
    margin-bottom: 113px;
}
.indication{
    text-decoration-line: underline;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: $color_theme;
    margin-bottom: 100px;
}

@media screen and (min-width: 890px){

    .error_code{
        font-size: 288px;
        font-weight: 700;
        line-height: 411px;
        letter-spacing: 0em;
        margin-top: 130px;
    }
    .packshot{
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        margin-bottom: 93px;
    }
    .indication{
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
    }
}