
.header_logo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.App_logo{
    height: 47px;
    width: 145px;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 10px;
}
.nav_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6060;
    size: 18px;
    font-weight: 500;
}

@media screen and (min-width: 890px){

    .header_logo{
        padding: 0px 100px 0px 100px;
        margin-bottom: 25px;
    }
    .App_logo{
        height: 68px;
        width: 14%;
        margin-top: 40px;
    }
    .nav_bar{
       margin-top: 57px;
       display: flex;
       justify-content: space-between;
       text-align: end;
       width: 30%;
    }
    .nav_button{
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
    }
}