
.logement{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}

.logement_detail{
   display: flex;
flex-direction: column;
justify-content: flex-start;
}

.title_description{
color: #FF6060;
}
.location{
color: #FF6060;
}

.renseignements{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.tag_logement{
    display: flex;
    width: 100%;
}
.tag{
    margin-right: 15px;
}

.rate_logement{
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.collapse_logement{
    margin-bottom: 30px;
}

.host{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host_picture{
     height: 32px;
     width: 32px;
     border-radius: 25px;
}
.host_name{
    color: $color_theme;
}
@media screen and (min-width: 890px){
    .logement{
        display: flex;
        flex-direction: column;
        margin: 0px 100px 0px 100px;
    }

    .collapse_Logement{
        display: flex;
        justify-content: space-between;
    }
    .collapse_Logement_description{
        width: 45%;
    }
    .collapse_Logement_equipements{
        width: 45%;
        color: #FF6060;
    }
    .logement_precision{
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
    }
    .renseignements{
        width: 40%;
    }
    .rate_logement{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: column-reverse;
        margin-top: -1px;
    }
    .host_picture{
        height: 64px;
        width: 64px;
        border-radius: 50px;
    }
    .host_name{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: $color_theme;
    }
    
}