
.logement{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}

.logement_detail{
   display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: -30px;
}

.title_description{
color: #FF6060;
font-weight: 500;
font-size: 18px;
}
.location{
color: #FF6060;
font-weight: 500;
font-size: 14px;
margin-top: -10px;
margin-bottom: 25px;
}

.renseignements{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -10px;
}

.tag_logement{
    display: flex;
    width: 100%;
}
.tag{
    margin-right: 15px;
}

.rate_logement{
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.collapse_Logement{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 30px;
}

.host{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host_picture{
     height: 32px;
     width: 32px;
     border-radius: 25px;
}
.host_name{
    color: #FF6060;
    font-weight: 500;
    font-size: 12px;
}
.collapse__list-element{
    list-style: none;
    margin-left: -35px;
}
@media screen and (min-width: 890px){
    .logement{
        display: flex;
        flex-direction: column;
        margin: 0px 100px 0px 100px;
    }

    .collapse_Logement{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 17px;
        line-height: 142.6%;
    }
    .collapse_Logement_description{
        width: 45%;
    }
    .collapse_Logement_equipements{
        width: 45%;
        color: #FF6060;

    }

    .logement_precision{
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
        margin-bottom: 24px;
    }
    .title_description{
        font-weight: 500;
        font-size: 36px;
    }
    .location{
        font-weight: 500;
        font-size: 18px;
        margin-top: -30px;
        margin-bottom: 20px;
    }
    .renseignements{
        width: 50%;
    }
    .rate_logement{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: column-reverse;
        margin-top: -1px;
    }
    .host_picture{
        height: 64px;
        width: 64px;
        border-radius: 50px;
    }
    .host_name{
        margin-left: 40px;
        width: 100px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: end;
    }
    
}