.tag_text{
    color: #FFFFFF;
    margin: 0px 5px 0px 5px;
    height: 16px;
    display: flex;
    align-items: center;
}
.tag{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
    height: 25px;
}
